{% extends "registration/base.html" %}
{% load crispy_forms_filters %}

{% block content %}
<div class="password-change-background d-flex align-items-center justify-content-center min-vh-100">

    <div class="password-change-card card shadow-lg border-0 p-4">

        <!-- Título -->
        <div class="text-center mb-3">
            <h3 class="password-change-title fw-bold">Alterar Senha</h3>
        </div>

        <!-- Formulário -->
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}

            <div class="text-end">
                <span class="small">
                    <a href="{% url 'password_reset' %}" class="password-change-link">
                        Criar nova senha
                    </a>
                </span>
            </div>
            <div class="text-center">
            <input type="submit"
                   value="Enviar"
                   class="btn btn-primary password-change-btn w-50 mt-3" />
            <div>
        </form>

        <!-- Cancelar -->
        <div class="mt-2">
            <a href="{% url 'radio:index' %}"
               class="btn btn-secondary w-50 password-change-cancel">
                Cancelar
            </a>
        </div>

    </div>

</div>
{% endblock content %}
