<div class="sidebar collapse d-md-block p-4 min-vh-100 shadow-sm" id="sidebarMenu">

  <a href="{% url 'dashboard:index' %}" class="text-decoration-none titu_nav">
    <h4 class="fw-bold mb-4">Dashboard</h4>
  </a>

  <h6 class="text-uppercase text-muted mb-3 titu_nav">Menu</h6>

  <ul class="navbar-nav flex-column">

    <li class="nav-item mb-1">
      <a class="nav-link {% if request.resolver_match.url_name == 'index' %}ativo{% endif %}"
         href="{% url 'dashboard:index' %}">
         <i class="bi bi-house-door me-2"></i> Meu Painel
      </a>
    </li>

    <li class="nav-item mb-1">
      <a class="nav-link" href="{% url 'usuarios:perfil' %}">
        <i class="bi bi-person me-2"></i> Meu Perfil
      </a>
    </li>

    <li class="nav-item mb-1">
      <a class="nav-link {% if request.resolver_match.url_name == 'meus_curtidos' %}ativo{% endif %}"
         href="{% url 'dashboard:meus_curtidos' %}">
         <i class="bi bi-heart me-2"></i> Meus Curtidos
      </a>
    </li>

    <li class="nav-item mb-1">
      <a class="nav-link" href="{% url 'radio:index' %}">
        <i class="bi bi-box-arrow-left me-2"></i> Página Inicial
      </a>
    </li>

    {% if user.is_staff %}
    <hr class="my-3">

    <li class="nav-item mb-1">
      <a class="nav-link {% if request.resolver_match.url_name == 'programas' %}ativo{% endif %}"
         href="{% url 'dashboard:programas' %}">
         <i class="bi bi-broadcast me-2"></i> Programas
      </a>
    </li>

    <ul class="navbar-nav ms-4">
      <li>
        <a class="nav-link {% if request.resolver_match.url_name == 'episodios' %}ativo{% endif %}"
           href="{% url 'dashboard:episodios' %}">
           <i class="bi bi-music-note-list me-2"></i> Episódios
        </a>
      </li>
    </ul>

    <li class="nav-item mb-1">
      <a class="nav-link {% if request.resolver_match.url_name == 'programacao' %}ativo{% endif %}"
         href="{% url 'dashboard:programacao' %}">
         <i class="bi bi-calendar-week me-2"></i> Programação
      </a>
    </li>

    <li class="nav-item mb-1">
      <a class="nav-link" href="{% url 'dashboard:conteudo' %}">
        <i class="bi bi-file-text me-2"></i> Conteúdo Home
      </a>
    </li>

    <li class="nav-item mb-1">
      <a class="nav-link {% if request.resolver_match.url_name == 'usuarios' %}ativo{% endif %}"
         href="{% url 'usuarios:usuarios' %}">
         <i class="bi bi-people me-2"></i> Usuários
      </a>
    </li>

    <li class="nav-item mb-1">
      <a class="nav-link" href="{% url 'dashboard:sobre' %}">
        <i class="bi bi-info-circle me-2"></i> Sobre
      </a>
    </li>

    {% endif %}

  </ul>
</div>
