{% load static %}
<div class="row g-4">
  {% for item in programacao %}
    <div class="col-md-4">
      <div class="program-card p-3 border rounded shadow-sm h-100">
        <h5 class="mb-2">{{ item.programa.nome_programa }}</h5>
        <p class="text-muted mb-1"><strong>Horário:</strong> {{ item.horario }}</p>
        <p class="text-muted mb-1"><strong>Dia:</strong> {{ item.dia }}</p>
        <p class="mb-0"><strong>Artista:</strong> {{ item.programa.apresentador_programa }}</p>
        <div class="d-flex gap-2 mt-3">
          <a href="{% url 'dashboard:programacao_editar' item.id %}" class="btn btn-outline-secondary btn-sm">
            <i class="bi bi-pencil-square"></i>
          </a>
          <form method="post" action="{% url 'dashboard:programacao_remover' item.id %}" style="display:inline;">
            {% csrf_token %}
            <a href="{% url 'dashboard:programacao_remover' item.id %}" 
             class="btn btn-danger btn-sm w-100">
            <i class="bi bi-trash"></i>
            </a>
          </form>
        </div>
      </div>
    </div>
  {% empty %}
  <div class="d-flex flex-column align-items-center text-center">
    <img src="{% static 'radio/img/waiting.svg' %}" class="curtidaimg mb-3">
    <p class="text-center text-muted">Nenhuma programação cadastrada ainda.</p>
  </div>
  </div>
  {% endfor %}
</div>
