{% if page_obj %}
<nav aria-label="Page navigation" class="mt-4">
  <ul class="custom-pagination">

    <!-- Botão Anterior -->
    {% if page_obj.has_previous %}
      <li>
        <a href="?page={{ page_obj.previous_page_number }}" class="arrow-btn">‹</a>
      </li>
    {% else %}
      <li><span class="arrow-btn disabled">‹</span></li>
    {% endif %}

    <!-- Números -->
    {% for num in page_obj.paginator.page_range %}
        {% if num == page_obj.number %}
            <li><span class="page-number active">{{ num }}</span></li>
        {% else %}
            <li><a href="?page={{ num }}" class="page-number">{{ num }}</a></li>
        {% endif %}
    {% endfor %}

    <!-- Botão Próximo -->
    {% if page_obj.has_next %}
      <li>
        <a href="?page={{ page_obj.next_page_number }}" class="arrow-btn">›</a>
      </li>
    {% else %}
      <li><span class="arrow-btn disabled">›</span></li>
    {% endif %}

  </ul>
</nav>
{% endif %}