{% load static %}

<div class="filtros-episodios mb-4">

    <form id="form-pesquisa-episodios"
          class="d-flex gap-3 align-items-center flex-grow-1">

        <div class="search-wrapper flex-grow-1">

            <i class="bi bi-search"></i>

            <input
                id="campo-pesquisa-episodio"
                class="form-control"
                type="search"
                name="f"
                value="{{ request.GET.f }}"
                placeholder="Pesquisar por episódio...">

        </div>

    </form>

</div>
<div class="table-responsive">

    <table class="table tabela-programas align-middle mb-0">

        <thead>
            <tr>
                <th>Capa</th>
                <th>Título</th>
                <th>Programa</th>
                <th>Descrição</th>
                <th>Apresentador</th>
                <th class="text-center">Ações</th>
            </tr>
        </thead>

        <tbody>

        {% for episodio in episodios %}

            <tr>

                <td>
                    {% if episodio.banner_episodio %}
                        <img src="{{ episodio.banner_episodio.url }}"
                             class="banner-programa">
                    {% else %}
                        <img src="{% static 'radio/img/episodio.svg' %}"
                             class="banner-programa">
                    {% endif %}
                </td>

                <td>
                    <div class="nome-programa">
                        {{ episodio.titulo }}
                    </div>
                </td>

                <td class="text-muted">
                    {{ episodio.programa.nome_programa }}
                </td>

                <td class="descricao-programa">
                    {{ episodio.descricao|truncatewords:12 }}
                </td>

                <td class="apresentador-programa">
                    {{ episodio.apresentador }}
                </td>

                <td>

                    <div class="acoes">

                    {% comment %} <a href="{% url 'dashboard:detalhar_episodio' episodio.id %}"
                       class="detalhar"
                       title="Detalhar">
                        <i class="bi bi-eye"></i>
                    </a> {% endcomment %}

                        <a href="{% url 'dashboard:episodio_editar' episodio.id %}"
                           class="btn-editar"
                           title="Editar">
                            <i class="bi bi-pencil"></i>
                        </a>

                        <a href="{% url 'dashboard:episodio_remover' episodio.id %}"
                           class="remover"
                           title="Excluir">
                            <i class="bi bi-trash"></i>
                        </a>

                    </div>

                </td>

            </tr>

        {% empty %}

            <tr>

                <td colspan="6" class="text-center py-5">

                    <img src="{% static 'radio/img/episodio.svg' %}"
                         width="120"
                         class="mb-3">

                    <p class="text-muted mb-0">
                        Nenhum episódio cadastrado.
                    </p>

                </td>

            </tr>

        {% endfor %}

        </tbody>

    </table>

</div>