<div class="table-responsive">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th scope="col" class="col-4"><a href="{% querystring ordenar='username' %}" >Username<a></th>
        <th scope="col" class="col-4"><a href="{% querystring ordenar='first_name' %}" >Nome</a></th>
        <th scope="col" class="col-4"><a href="{% querystring ordenar='email' %}" >Email<a></th>
        <th scope="col" class="col-2">Ações</th>
      </tr>
    </thead>
    <tbody>
  {% for usuario in usuarios %}
    <tr>
      <td>
        {{ usuario.username }} 
      </td>  
      <td>
        {{ usuario.first_name }} 
      </td>  
      <td>
        {{ usuario.email }} 
      </td>    
      <td class="text-nowrap">
        <a href="{% url 'usuarios:usuarios_editar' usuario.id %}"
          class="btn btn-outline-secondary btn-editar">
            Editar
        </a>
        <a href="{% url 'usuarios:usuario_remover' usuario.id %}"
          class="btn btn-danger remover">
            Excluir
        </a>   
      </td>  
    </tr>
  {% endfor %}
    </tbody>
  </table>
</div>