{% extends "radio/base.html" %}
{% block title %}Programas{% endblock %}
{% load static %}
{% block content %}
<div class="flex-grow-1 d-flex flex-column bodyp">

  <div class="container position-relative mt-5 mb-4">

    <div class="titulo-bloco text-center">
      <h2 class="titulo mb-4">Programas</h2>
      <hr class="decorativa mx-auto">
    </div>

      {% comment %} pesquisa {% endcomment %}
      <form method="get"
            id="pesquisa-programas"
            data-url="{% url 'radio:programas_ajax' %}"
            class="d-flex position-absolute search-programas"
            style="right: 0; top: 0; max-width: 350px;">

          <div class="input-group">
              <input class="form-control"
                    type="search"
                    placeholder="Pesquisar"
                    name="f"
                    value="{{ request.GET.f }}">

              <button class="btn btn-outline-secondary" type="submit">
                  <i class="bi bi-search"></i>
              </button>
          </div>

      </form>

  </div>



<!-- Card Programa -->
<div id="programas-conteudo" class="container my-3">
  {% include "radio/partials/_pub_programas.html" %}
</div>

<!-- Paginação -->
{% if programas.paginator.num_pages > 1 %}
<nav aria-label="Page navigation" class="paginacao">
  <ul class="custom-pagination mb-3">

    {% if programas.has_previous %}
      <li>
        <a href="?page={{ programas.previous_page_number }}" class="arrow-btn">‹</a>
      </li>
    {% else %}
      <li><span class="arrow-btn disabled">‹</span></li>
    {% endif %}

    {% for num in programas.paginator.page_range %}
      {% if programas.number == num %}
        <li><span class="page-number active">{{ num }}</span></li>
      {% else %}
        <li><a href="?page={{ num }}{% if filtro %}&f={{ filtro }}{% endif %}" ></li>
      {% endif %}
    {% endfor %}

    {% if programas.has_next %}
      <li>
        <a href="?page={{ programas.next_page_number }}" class="arrow-btn">›</a>
      </li>
    {% else %}
      <li><span class="arrow-btn disabled">›</span></li>
    {% endif %}

  </ul>
</nav>
</div>
{%endif%}
{% for apresentador in apresentadores %}
<div class="modal fade"
     id="modalApresentador{{ apresentador.id }}"
     tabindex="-1"
     aria-hidden="true">

  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content modal-perfil-clean">

      <!-- Header Roxo -->
      <div class="perfil-header">
        <div class="perfil-header-content">

          {% comment %} <!-- Avatar -->
          <div class="perfil-avatar">
            <img src="{{ apresentador.foto.url }}"
                 alt="{{ apresentador.nome }}">
          </div> {% endcomment %}

          <!-- Nome -->
          <div class="perfil-header-text">
            <h5>{{ apresentador.nome }}</h5>
          </div>

        </div>

        <button type="button"
                class="btn-close btn-close-white fechar-modal"
                data-bs-dismiss="modal"></button>
      </div>

      <!-- Corpo -->
      <div class="modal-body perfil-body">

       
        <p class="perfil-descricao">
          {{ apresentador.descricao }}
        </p>

      </div>

    </div>
  </div>
</div>
{% endfor %}

<script src="{% static 'radio/js/script.js' %}"></script>

{% endblock %}
