{% extends "radio/base.html" %}
{% block title %}Programação{% endblock %}
{% load static %}

{% block content %}
<div class="text-center">
  <h2 class="titulo mb-4 mt-5 text-center">Programação</h2>

  <!-- Botões de dias da semana -->
  <div class="dias-container d-inline-flex mx-auto mt-4 mb-5">
    <a href="{% url 'programacao' 'segunda' %}" class="dia {% if dia == 'Segunda' %}ativo{% endif %}">SEG</a>
    <a href="{% url 'programacao' 'terca' %}" class="dia {% if dia == 'Terca' %}ativo{% endif %}">TER</a>
    <a href="{% url 'programacao' 'quarta' %}" class="dia {% if dia == 'Quarta' %}ativo{% endif %}">QUA</a>
    <a href="{% url 'programacao' 'quinta' %}" class="dia {% if dia == 'Quinta' %}ativo{% endif %}">QUI</a>
    <a href="{% url 'programacao' 'sexta' %}" class="dia {% if dia == 'Sexta' %}ativo{% endif %}">SEX</a>
  </div>
</div>

<!-- Cards da programação -->
<div class="container my-3">
  <div class="programacao-grid">
    {% for item in programacao %}
      <div class="card programacao-card shadow-sm border-0 h-100 p-3 body-card">
        <h5 class="fw-bold mb-2 text-gradient">{{ item.titulo_programacao }}</h5>
        <p class="mb-3">{{ item.programa.descricao_programa|truncatewords:12 }}</p>

        <div class="d-flex justify-content-between border-top pt-2 mt-auto">
          <div class="d-flex align-items-center">
            <i class="bi bi-clock-history text-warning fs-6 me-2"></i>
            <div>
              <small class="text-muted d-block lh-1">Horário</small>
              <span class="fw-semibold small">{{ item.horario_programacao }}</span>
            </div>
          </div>

          <div class="d-flex align-items-center">
            <i class="bi bi-person-circle text-pink fs-6 me-2"></i>
            <div>
              <small class="text-muted d-block lh-1">Artista</small>
              <span class="fw-semibold small">{{ item.programa.artista_programa }}</span>
            </div>
          </div>
        </div>
      </div>
    {% empty %}
      <p class="text-center text-muted">Não há programas cadastrados para este dia.</p>
    {% endfor %}
  </div>
</div>

{% endblock content %}