{% extends "radio/base.html" %}
{% block title %}Programas{% endblock %}
{% load static %}
{% block content %}
   <h2 class="titulo mb-4 text-center mt-5 ">programas</h2>
    <hr class="decorativa mx-auto mb-5">

<!-- Card Programa -->
<div class="container my-3">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4"> <!-- ✔ controla as colunas -->

    {% for programa in programas %}
      <div class="col d-flex"> <!-- d-flex ajuda os cards a terem mesma altura -->
        <div class="card programa-card shadow-sm w-100 d-flex flex-column">
          {% if programa.banner_programa %}         
            <img src="{{ programa.banner_programa.url }}" class="card-img-top" alt="Banner {{ programa.nome_programa }}">
          {% else %}
            <img src="https://via.placeholder.com/300x150" class="card-img-top" alt="Banner padrão">
          {% endif %}
          <div class="card-body d-flex flex-column">
            <h5 class="fw-bold mb-2 mt-3 text-gradient">{{ programa.nome_programa }}</h5>
            <p class="mb-3">{{ programa.descricao_programa|truncatewords:12 }}</p>

            <div class="d-flex align-items-center mt-auto pt-2 border-top">
              <i class="bi bi-person-circle text-pink fs-6 me-2"></i>
              <div>
                <small class="text-muted d-block lh-1">Artista</small>
                <span class="fw-semibold small">{{ programa.apresentador_programa }}</span>
                <a href="{% url 'radio:episodios' programa.id %}" class="btn btn-primary w-100">
                    Ver Episódios
                </a>
              </div>
            </div>
            <!-- curtidas -->
            <form action="{% url 'radio:registrar_curtida' %}" method="POST" class="mt-2">
              {% csrf_token %}
              <input type="hidden" name="id_programa" value="{{ programa.id }}">
              <input type="hidden" name="next" value="{{ request.get_full_path }}">

              <button type="submit" class="btn btn-light border w-100">
                {% if user.is_authenticated and user in programa.curtidas.all %}
                  <i class="bi bi-heart-fill text-danger"></i> {{ programa.curtidas.count }} curtidas
                {% else %}
                  <i class="bi bi-heart"></i> {{ programa.curtidas.count }} curtidas
                {% endif %}
              </button>
            </form>
          </div>

        </div>
      </div>
    {% empty %}
      <div class="col mx-auto">
        <p class="text-center text-muted">Não há programas cadastrados.</p>
      </div>
    {% endfor %}
  </div>
</div>


<!-- Paginação -->
{% if programas.paginator.count > 0 %}
<nav aria-label="Page navigation" class="mt-4">
  <ul class="custom-pagination">

    <!-- Botão Anterior -->
    {% if programas.has_previous %}
      <li>
        <a href="?page={{ programas.previous_page_number }}" class="arrow-btn">‹</a>
      </li>
    {% else %}
      <li><span class="arrow-btn disabled">‹</span></li>
    {% endif %}

    <!-- Números -->
    {% for num in programas.paginator.page_range %}
      {% if programas.number == num %}
        <li><span class="page-number active">{{ num }}</span></li>
      {% else %}
        <li><a href="?page={{ num }}" class="page-number">{{ num }}</a></li>
      {% endif %}
    {% endfor %}

    <!-- Botão Próximo -->
    {% if programas.has_next %}
      <li>
        <a href="?page={{ programas.next_page_number }}" class="arrow-btn">›</a>
      </li>
    {% else %}
      <li><span class="arrow-btn disabled">›</span></li>
    {% endif %}

  </ul>
</nav>
{%endif%}

{% endblock %}
