{% extends "radio/base.html" %}
{% block title %}Programação{% endblock %}
{% load static %}

{% block content %}
<div class="text-center bodyp d-flex flex-column">
   <h2 class="titulo mb-4 text-center mt-5 ">Programação</h2>
    <hr class="decorativa mx-auto mb-5">

  <!-- Botões de dias da semana -->
<div class="semana-wrapper mt-4 mb-5">
  <div class="semana-container d-flex justify-content-between align-items-center px-3 py-2">
    <a data-url="{% url 'radio:programacao_ajax' 'segunda' %}" href="{% url 'radio:programacao' 'segunda' %}" class="dia-card {% if dia == 'Segunda' %}ativo{% endif %}">
      <h6>Seg</h6>
    </a>
    <a data-url="{% url 'radio:programacao_ajax' 'terca' %}" href="{% url 'radio:programacao' 'terca' %}" class="dia-card {% if dia == 'Terca' %}ativo{% endif %}">
      <h6>Ter</h6>
    </a>
    <a data-url="{% url 'radio:programacao_ajax' 'quarta' %}" href="{% url 'radio:programacao' 'quarta' %}" class="dia-card {% if dia == 'Quarta' %}ativo{% endif %}">
      <h6>Qua</h6>
    </a>
    <a data-url="{% url 'radio:programacao_ajax' 'quinta' %}" href="{% url 'radio:programacao' 'quinta' %}" class="dia-card {% if dia == 'Quinta' %}ativo{% endif %}">
      <h6>Qui</h6>
    </a>
    <a data-url="{% url 'radio:programacao_ajax' 'sexta' %}" href="{% url 'radio:programacao' 'sexta' %}" class="dia-card {% if dia == 'Sexta' %}ativo{% endif %}">
      <h6>Sex</h6>
    </a>
  </div>
</div>


<div id="programacao-conteudo">
    {% include "radio/partials/_pub_programacao.html" %}
</div>


{% if programacao.paginator.num_pages > 1 %}
<nav aria-label="Page navigation" class="paginacao">
  <ul class="custom-pagination mb-3 mx-auto">

    {% if programacao.has_previous %}
      <li>
        <a href="?page={{ programacao.previous_page_number }}" class="arrow-btn">‹</a>
      </li>
    {% else %}
      <li><span class="arrow-btn disabled">‹</span></li>
    {% endif %}

    {% for num in programacao.paginator.page_range %}
      {% if programacao.number == num %}
        <li><span class="page-number active">{{ num }}</span></li>
      {% else %}
        <li><a href="?page={{ num }}" class="page-number">{{ num }}</a></li>
      {% endif %}
    {% endfor %}

    {% if programacao.has_next %}
      <li>
        <a href="?page={{ programacao.next_page_number }}" class="arrow-btn">›</a>
      </li>
    {% else %}
      <li><span class="arrow-btn disabled">›</span></li>
    {% endif %}
    
  </ul>
</nav>
{%endif%}
{% endblock content %}