{% extends "radio/base.html" %}
{% block title %}Programas{% endblock %}
{% load static %}
{% block content %}
   <h2 class="titulo mb-4 text-center mt-5 ">Quadros</h2>
    <hr class="decorativa mx-auto mb-5">

<!-- Card Programa -->
<div class="container my-3">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4"> <!-- ✔ controla as colunas -->
    {% for quadro in quadros %}
      <div class="col d-flex"> <!-- d-flex ajuda os cards a terem mesma altura -->
        <div class="card programa-card shadow-sm w-100 d-flex flex-column">          
            <img src="{{ quadro.banner_quadro.url }}" class="card-img-top" alt="Banner {{ quadro.nome_quadro }}">
          <div class="card-body d-flex flex-column">
            <h5 class="fw-bold mb-2 mt-3 text-gradient">{{ quadro.nome_quadro }}</h5>
            <p class="mb-3">{{ quadro.descricao_quadro|truncatewords:12 }}</p>

            <div class="d-flex align-items-center mt-auto pt-2 border-top">
              <i class="bi bi-person-circle text-pink fs-6 me-2"></i>
              <div>
                <small class="text-muted d-block lh-1">Artista</small>
                <span class="fw-semibold small">{{ quadro.artista_quadro }}</span>
              </div>
            </div>
          </div>

        </div>
      </div>
    {% empty %}
      <div class="col">
        <p class="text-center text-muted">Não há programas cadastrados.</p>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
