{% extends "dashboard/base.html" %}
{% block title %}{{ titulo_pagina }}{% endblock title %}
{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4">
  <div>
    <p class="text-muted">
        {{ subtitulo_pagina }}
    </p>
  </div>
  {% if url_novo %}
    <a href="{% url 'dashboard:programa_novo' %}" class="px-4 py-2 btn-novo novo_programa">
   <i class="bi bi-plus-lg me-2"></i> {{ texto_botao_novo }}
</a>
  {% endif %}
</div>
<div id="form-container"></div>
<div id="lista-programas" class="mb-4">
    {% include partial_tabela %}
</div>

{% comment %} paginação {% endcomment %}
{% include "dashboard/partials/_tabela_paginacao.html" with page_obj=programas %}
{% include "dashboard/partials/_tabela_paginacao.html" with page_obj=programacao %}
{% include "dashboard/partials/_tabela_paginacao.html" with page_obj=usuarios %}
{% include "dashboard/partials/_tabela_paginacao.html" with page_obj=pedidos %}
{% include "dashboard/partials/_tabela_paginacao.html" with page_obj=sugestao %}
{% include "dashboard/partials/_tabela_paginacao.html" with page_obj=curtidos %}
{% include "dashboard/partials/_tabela_paginacao.html" with page_obj=episodios %}


{% endblock content %}
{% block scripts %}
<script>
    const meuModal = new bootstrap.Modal(document.querySelector(".modal"));

    function buscarMensagens() {
        const divMensagens = document.querySelector("#div-mensagens")
        console.log(divMensagens.dataset.url);
    fetch(divMensagens.dataset.url)
    .then(response => response.text())
    .then(resposta => {
        divMensagens.innerHTML = resposta;
    });
    }

    document.querySelector(".btn-novo").addEventListener("click", function (evento) {
        evento.preventDefault();

        fetch(this.href)
            .then(response => response.text())
            .then(conteudo => {
                document.querySelector(".modal-title").innerHTML = "Novo Programa";
                document.querySelector(".modal-body").innerHTML = conteudo;
                document.getElementById("form-programa").action = this.href;
                meuModal.show();
            });
    });

    document.addEventListener("click", function (evento) {
        if (evento.target.classList.contains("btn-salvar")) {
            evento.preventDefault();

            const formPrograma = document.querySelector("#form-programa");

            fetch(formPrograma.action, {method: "POST",body: new FormData(formPrograma)
            })
            .then(response => response.json())
            .then(conteudo => {
                meuModal.hide();
                console.log(conteudo);

            });
        }
    });

    document.querySelectorAll(".btn-editar").forEach(botao =>{
        botao.addEventListener("click",evento => {
            evento.preventDefault();
            fetch(botao.href)
                .then(response => response.text())
                .then(conteudo =>{
                    document.querySelector(".modal-title").innerHTML = "Editar Programa";
                    document.querySelector(".modal-body").innerHTML = conteudo;
                    document.getElementById("form-programa").action = botao.href;
                    meuModal.show();
                })
        })
    })
</script>



{% endblock %}