{% extends "dashboard/base.html" %}
{% block title %}{{ titulo_pagina }}{% endblock title %}
{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4">
  <div>
    <p class="text-muted">
        {{ subtitulo_pagina }}
    </p>
  </div>
  {% if url_novo %}
<a href="javascript:void(0)" onclick="abrirFormularioNovo()" class="px-4 py-2 novo_programa">
   <i class="bi bi-plus-lg me-2"></i> {{ texto_botao_novo }}
</a>
  {% endif %}
</div>
<div id="form-container"></div>
<div id="lista-programas" class="mb-4">
    {% include partial_tabela %}
</div>

{% comment %} paginação {% endcomment %}
{% include "dashboard/partials/_tabela_paginacao.html" with page_obj=programas %}
{% include "dashboard/partials/_tabela_paginacao.html" with page_obj=programacao %}
{% include "dashboard/partials/_tabela_paginacao.html" with page_obj=usuarios %}
{% include "dashboard/partials/_tabela_paginacao.html" with page_obj=pedidos %}
{% include "dashboard/partials/_tabela_paginacao.html" with page_obj=sugestao %}
{% include "dashboard/partials/_tabela_paginacao.html" with page_obj=curtidos %}
{% include "dashboard/partials/_tabela_paginacao.html" with page_obj=episodios %}


{% endblock content %}
{% block scripts %}
<script>
document.addEventListener("submit", function (evento) {

    if (evento.target && evento.target.id === "form-programa") {

        evento.preventDefault(); // evita submit normal

        fetch("{% url 'dashboard:ajax_criar_programa' %}", {
            method: "POST",
            body: new FormData(evento.target)
        })
        .then(response => response.json())
        .then(resposta => {
            alert(resposta.mensagem);
            location.reload();
        })
        .catch(error => {
            alert("Erro ao salvar");
        });

    }

});
</script>
<script>
function abrirFormularioNovo() {
    fetch("{% url 'dashboard:ajax_criar_programa' %}")
        .then(response => response.text())
        .then(html => {
            document.querySelector("#form-container").innerHTML = html;
            document.querySelector("#lista-programas").style.display = "none";
        })
        .catch(error => alert("Erro ao carregar formulário"));
}

</script>

<script>
function fecharFormulario() {
    document.querySelector("#form-container").innerHTML = "";
    document.querySelector("#lista-programas").style.display = "block";
}
</script>


{% endblock %}