{% extends "dashboard/base.html" %}
{% block title %}{{ titulo_pagina }}{% endblock title %}
{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4">
  <div>
    <h2 class="fw-bold mb-1">
        {{ titulo_pagina }}
        {% comment %} {% if perms.blog.create_postagem %} {% endcomment %}
    </h2>
    <p class="text-muted">
        {{ subtitulo_pagina }}
    </p>
  </div>
  {% if url_novo %}
  <a href="{% url url_novo %}" class=" px-4 py-2 novo_programa">
    
    <i class="bi bi-plus-lg me-2"></i> {{ texto_botao_novo }}
  </a>
  {% endif %}
</div>

        {% comment %} {% endif %} {% endcomment %}

    <div>
        {% include partial_tabela %}
    </div>

{% comment %} paginação {% endcomment %}
{% include "dashboard/partials/_tabela_paginacao.html" with page_obj=programas %}
{% include "dashboard/partials/_tabela_paginacao.html" with page_obj=programacao %}
{% include "dashboard/partials/_tabela_paginacao.html" with page_obj=usuarios %}

{% endblock content %}