{% extends 'dashboard/base.html' %}

{% block content %}
<div class="card shadow-sm">
    <div class="card-body">

        <h3 class="mb-3">Remover {{ tipo }}</h3>

        <p>Tem certeza que deseja remover <strong>{{ objeto }}</strong>?</p>

        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Sim, remover</button>
            <a href="javascript:history.back()" class="btn btn-secondary">Cancelar</a>
        </form>
        
    </div>
</div>
{% endblock %}