<div class="card shadow-sm">

    <div class="card-body">

        <h3 class="mb-3">
            Remover {{ tipo }}
        </h3>

        <p>
            Tem certeza que deseja remover
            <strong>{{ objeto }}</strong>?
        </p>

        <form
            method="POST"
            class="form-remover"
            action="{{ url_remover }}"
        >

            {% csrf_token %}

            <button
                type="submit"
                class="confirmar btn btn-danger"
            >
                Sim, remover
            </button>

        </form>

    </div>

</div>