<div class="card shadow-sm">

    <div class="card-body">

        <h3 class="mb-3">
            Remover {{ tipo }}
        </h3>

        <p>
            Tem certeza que deseja remover
            <strong>{{ objeto }}</strong>?
        </p>

        <form
            method="POST"
            class="form-remover"
            action="{{ url_remover }}"
        >

            {% csrf_token %}

            <div class="modal-footer">
                <button type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">
                    Cancelar
                </button>

                <button type="button"
                        class="btn btn-danger confirmar">
                    Sim, remover
                </button>
            </div>

        </form>

    </div>

</div>