{% extends "registration/base.html" %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block titulo_pagina %}Login{% endblock titulo_pagina %}

{% block imagem_lateral %}
    <img src="{% static 'radio/img/login.svg' %}" class="img-fluid" alt="Login">
{% endblock imagem_lateral %}

{% block buttons %}
    <input class="btn btn-primary w-100" type="submit" value="Entrar">
{% endblock buttons %}

{% block footer_links %}
    <p class="register-link text-center mt-3">
        Não tem uma conta?
        <a href="{% url 'usuarios:cadastro' %}">Cadastre-se</a>
    </p>
{% endblock %}