{% load static %}
<head>
<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
<link href="{% static 'radio/css/estilo.css' %}" rel="stylesheet" />
</head>
<body class="erro">
  <div class="message">Você não é autorizado.
  </div>
  <div class="message2">Você tentou acessar uma página para a qual não tinha autorização prévia.</div>
  <div class="container_erro">
    <div class="neon">403</div>
    <div class="door-frame">
      <div class="door">
        <div class="rectangle">
      </div>
        <div class="handle">
          </div>
        <div class="window">
          <div class="eye">
          </div>
          <div class="eye eye2">
          </div>
          <div class="leaf">
          </div> 
        </div>
      </div>  
    </div>
  </div>
</body>