{% extends "registration/base.html" %}
{% load static %}
{% block title %}Cadastro{% endblock title %}
{% block titulo_pagina %}Cadastre-se{% endblock titulo_pagina %}

{% block imagem_lateral %}
    <img src="{% static 'radio/img/cadastrog.svg' %}" class="img-fluid" alt="Cadastro">
{% endblock imagem_lateral %}

{% block buttons %}
    <input class="btn btn-primary w-100" type="submit" value="Enviar">
{% endblock buttons %}

{% block footer_links %}
    <p class="register-link text-center mt-3">
        Já tem uma conta?
        <a href="{% url 'login' %}">Entrar</a>
    </p>
{% endblock %}

